Django==4.2  								# Web framework
djangorestframework  					# Toolkit for building Web APIs
django-environ==0.7.0  				# Manage environment variables
django-cors-headers==4.0.0  	# Handle CORS headers
psycopg2-binary==2.9.3  			# PostgreSQL database adapter
djangorestframework-simplejwt # JWT authentication for DRF
requests==2.31.0  						# HTTP library
djoser  											# User authentication views for DRF
drf-nested-routers  					# Nested resource routing for DRF
gunicorn  										# WSGI HTTP Server
whitenoise  									# Serve static files in prod- adds caching and compression to images 
pyotp==2.8.0 									# For generating and validating one-time passwords (OTPs) for 2FA
qrcode==7.3.1									# Generates a QR code
channels==4.1.0 #for channels
channels_redis==4.2.0 #for channels
daphne==4.1.2 #for channels
# django-extensions
# werkzeug
django-channels-jwt==0.0.3
Pillow  											# Image processing for the profile photos handling
#dj-database-url  							# Database configuration from URL -- maybe not needed anymore
cloudinary
django-cloudinary-storage