.button {
	color: var(--text-color);
	font-size: 22px;
	font-weight: 400;
	background-color: none;
	border: 1px solid var(--text-color);
	cursor: pointer;
	border-radius: 0;
	box-shadow: none;
	transition: background-color 0.3s, opacity 0.1s, box-shadow 0.2s, transform 0.2s ease;
}

.button:hover {
	color: inherit;
	background: var(--fill-color2);
	transform: translateY(-2px) scale(1.01);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.4);
}

.button:active {
	color: inherit;
	transform: translateY(0px);
	box-shadow: 2px 2px 8px black inset;
}