header {
	background-color: #3f267800;
	color: white;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 200;
}

.logo .icon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	stroke: rgb(255, 250, 156);
}

.menu a {
	color: white;
	text-decoration: none;
	margin: 0px;
	font-size: 18px;
	padding: 10px 18px;
	width: fit-content;
	height: fit-content;
	text-align: center;
	display: inline-block;
	background-color: #3E267800;
	transition: background-color 0.3s;
}

.menu a:hover {
	background-color: #3826785b;
}
