.language-dropdown {
	width: auto;
	margin-right: 20px;
	background-color: transparent;
}

.language-select {
	padding: 5px;
	font-size: 16px;
	color: var(--text-color);
	background-color: var(--background);
	border: 1px solid var(--text-color);
	width: 100%;
	appearance: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

.language-dropdown .language-select:focus {
	outline: none;
	box-shadow: none;
}

.language-dropdown .language-select:focus-visible {
	outline: 2px solid var(--text-color);
}

.language-select option {
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: left center;
	height: 50px;
	font-size: 16px;
	color: var(--text-color);
	background-color: var(--background);
}

.language-select option:empty {
	background: none;
}
