.dropdown {
	position: relative;
	float: right;
	right: 0;
	top: 100%;
}

.bell-icon {
	color: var(--text-color);
}

.dropbtn {
	background-color: transparent;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	box-shadow: none;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn:active {
	background-color: rgba(255, 255, 255, 0.162);
	outline: none;
	box-shadow: none;
}

.dropbtn:focus-visible {
	background-color: inherit;
	outline: 2px solid var(--text-color);
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
	box-shadow: 0px, 1px, 1px, black;
	border-radius: 2px;
	max-height: 240px;
	overflow-y: auto;
	background-color: var(--background);
}

.dropdown-content::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.dropdown-content {
	border: 1px solid var(--text-color);
	scrollbar-width: none;
}

.dropdown-content {
	-ms-overflow-style: none;
}

.no-notifications {
	padding: 12px 16px;
	color: var(--text-color);
	margin: 0px;
	height: 100%;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

@keyframes ring {
	0% { transform: scale(1) rotate(0); }
	5% { transform: scale(1.3) rotate(10deg); }
	10% { transform: scale(1.3) rotate(-10deg); }
	15% { transform: scale(1.3) rotate(10deg); }
	20% { transform: scale(1.3) rotate(-10deg); }
	25% { transform: scale(1.3) rotate(0); }
	100% { transform: scale(1); }
}

.ringing {
	animation: ring 2s infinite;
}


@media (max-width: 592px) {
	.dropbtn {
		font-size: 14px;
		width: 32px;
		height: 32px;
	}
}
