/* Modal overlay that covers the entire screen with a semi-transparent background */
.otp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

* Main modal container with white background and shadow */
.otp-modal {
  background-color: #0e0f23;
  padding: 2rem;
  border-radius: 8px;
	border: 1px solid white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5px;
}

.card {
	font-size: large;
	width: 400px;
	/* height: 600px; */
	margin: 10px;
	padding: 35px;
	color: var(--text-color);
	background-color: var(--card-color);
}

/* Submit button styling */
.otp-submit {
  width: 100%;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Hover effect for submit button */
.otp-submit:hover {
  background-color: #0056b3;
}

.otp-image {
  max-width: 200px;
  min-width: 120px;
  display: block;
  margin-left: 35px;
}
