/* Modal overlay that covers the entire screen with a semi-transparent background */
.otp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Main modal container with white background and shadow */
.otp-modal-version-two {
	position: fixed;
    background-color: var(--background);

    /* Allow it to resize dynamically */
    width: 80vw;
	min-width: 1200px;
	max-width: 200vw;
	min-height: 800px;
	max-height: 800px;
    flex-direction: row; 
    align-items: flex-start; 
	overflow: auto;
    word-wrap: break-word;
    border-radius: 10px;
    border: 2px solid var(--color-4);
    padding: 20px;
    z-index: 999;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for the OTP input field */
.otp-input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.messageInfoHolder {
	/* border:		1px solid yellow; */
	max-width:	fit-content;
	width:		800px;
}

/* Submit button styling */
.otp-submit {
  width: 100%;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Hover effect for submit button */
.otp-submit:hover {
  background-color: #0056b3;
}
