.tfa-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 1035.73px;
    min-height: fit-content;
    transform: translate(0px, 64.6667px);
	background: var(--fill-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.tfa-box-overlay {
    position: fixed;
    background-color: var(--background);	
	position: fixed;
    width: 70%;
	height: 70%;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
    z-index: 999;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	border: 2px solid var(--color-4);
	padding: 20px;
}

@media (max-width: 400px) {
    .tfa-box-overlay {
        min-width: 100%;
        border-radius: 0px;
        border-left: none;
        border-right: none;
    }

    .tfa-button {
        min-width: 100%;
    }
}

.tfa-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.tfa-message {
    font-size: 1em;
    margin-bottom: 20px;
    color: #555;
    text-align: center;
}

.tfa-input-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.tfa-buttons {
    display: flex;
    flex-direction: column-reverse;
    gap:20px;
}

.tfa-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
	border: 2px solid var(--color-4);
    background: #0E0F23;
    color: white;
}

/* Confirm Button (Light Theme) */
[data-bs-theme="light"] .tfa-button {
    background-color: var(--color-1); 
    color: var(--color-5); 
}

/* Confirm Button (Dark Theme) */
[data-bs-theme="dark"] .tfa-button {
    background-color: var(--color-5); 
    color: var(--color-1); 
}

.tfa-button:first-child {
    background: gray;
    color: white;
}

/* Cancel Button (Light Theme) */
[data-bs-theme="light"] .tfa-button:first-child {
    background-color: var(--color-4); 
    color: var(--color-1);
}

/* Cancel Button (Dark Theme) */
[data-bs-theme="dark"] .tfa-button:first-child {
    background-color: var(--color-4); 
    color: var(--color-1); 
}