.tfa-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.tfa-box-overlay {
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
	border: 1px solid #ddd;
    background-color: rgba(45, 42, 62, 1);	
    animation: fadeIn 0.3s ease-in-out;
}

.tfa-x-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}

.tfa-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.tfa-message {
    font-size: 1em;
    margin-bottom: 20px;
    color: #555;
}

.tfa-input-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.tfa-buttons {
    display: flex;
	flex-direction: column-reverse}

.tfa-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
	background: #0E0F23;
    color: white;
}

.tfa-button:first-child {
    background: gray;
    color: white;
}
