.play-button {
	color: white;
	font-size: 40px;
	font-weight: 400;
	background-color: #594082;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	transition: background-color 0.3s, opacity 0.1s, box-shadow 0.2s, transform 0.2s ease;
}

.play-button:hover {
	transform: translateY(-2px) scale(1.01);
	background-color: #6b5096;
	box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.4);
}

.play-button:active {
	transform: translateY(0px);
	background-color: #594082;
	box-shadow: 2px 2px 8px black inset;
}
