::-webkit-scrollbar {
	width: 7px;
	opacity: 0;
	transition: opacity 0.2s;
}

::-webkit-scrollbar-track {
	background: rgba(76, 76, 76, 0.2);
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-image: linear-gradient(to top, var(--color-4) 0%, var(--color-3) 100%);
}

body:hover ::-webkit-scrollbar,
body:active ::-webkit-scrollbar,
body:focus ::-webkit-scrollbar {
	opacity: 1;
}
