.text-size-controls {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
	background-color: transparent;
}

@media (max-width: 568px) {
    .text-size-controls {
        /* padding-left: 20px !important; */
    }
}

.accessibility-btn {
    padding: 5px;
    font-size: 16px; 
    color: var(--text-color); 
    background-color: transparent; 
    border: 1px solid var(--text-color);
    width: 65px;
	height: 36px;
    appearance: none; 
    outline: none; 
    box-shadow: none;
    cursor: pointer;
	text-align: center;
}

.accessibility-btn:focus {
    outline: none; 
    box-shadow: none; 
}

.accessibility-btn:focus-visible {
    outline: 2px solid var(--text-color);
}

