.text-size-controls {
	display: flex;
	width: auto;
	margin-right: 10px;
    gap: 10px;
    align-items: center;
	background-color: transparent;
}

.accessibility-btn {
    padding: 5px;
    font-size: 16px; 
    color: var(--text-color); 
    background-color: transparent; 
    border: 1px solid var(--text-color);
    width: 65px;
	height: 36px;
    appearance: none; /* Remove any default button styling */
    outline: none; /* Remove default outline */
    box-shadow: none; /* Remove any box shadow */
    cursor: pointer;
	text-align: center;
}

/* Focus state - outline for accessibility */
.accessibility-btn:focus {
    outline: none; /* No default outline */
    box-shadow: none; /* No default box shadow */
}

.accessibility-btn:focus-visible {
    outline: 2px solid var(--text-color); /* Custom focus outline */
}

