html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: top;
  align-items: top;
  overflow: hidden;
}

body {
  position: relative;
}

#Winner {
  margin-top: 5rem;
  margin-left: 2rem;
  position: absolute;
  color: white;
}

#winner1 {
  display: none;
}
#winner2 {
  display: none;
}

#score_count {
  position: absolute;
  color: #FFFFFF;
  display: flex;
  margin-left: 2rem;
}