html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: top;
	align-items: top;
	overflow: hidden;
  }
  
  body {
	position: relative;
	justify-content: left;
  }
  
  #Winner {
	margin-top: 5rem;
	margin-left: 2rem;
	position: absolute;
	color: white;
  }
  
  #game_winner {
	position: absolute;
	margin-top: 8rem;
	color: red;
	margin-left: 2rem;
  }
  
  #game_winner1 {
	display: none;
  }
  
  #game_winner2 {
	display: none;
  }
  
  #winner1 {
	display: none;
  }
  
  #winner2 {
	display: none;
  }
  
  #score_count {
	position: absolute;
	border: 1px solid red;
	color: #FFFFFF;
	display: flex;
	gap: 1rem;
	margin-left: 2rem;
  }

  #set_count {
	position: absolute;
	border: 1px solid red;
	color: #FFFFFF;
	display: flex;
	gap: 1rem;
	margin-top: 5rem;
	margin-left: 2rem;
  }
  
  #gameEndScreen {
	/* border: 1px solid yellow; */
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: white;
	width: 100vw;
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(farthest-side at 130% 90%, #E84646 3%, #54364B 40%, #2C2F4B 57%, #1F2135 97%);
	z-index: 1;
  }
  
  #winnerHolder {
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .gamePageEndScreen_Button {
	background-color: #90384A;
	  color: #1B1C2D;
	font-size: 1.05rem;
	border-radius: 0.5rem;
	  width: 180px;
	  height: 50px;
	margin-top: 3rem;
	display: flex;
	justify-content: center;
  }
  
  .gamePageEndScreen_Button:hover {
	  background-color: #E84646;
	  color: #ffffff;
  }
  
  .gameEndScreenButtonContainer {
	display: inline-flex;
	gap: 1rem;
  }
  
.gameEndScreenButtonContainer a {
	text-decoration: none;
}