.aboutPContainer {
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    margin-left:    20px;
    margin-right:   20px;
    max-width:      800px;
}