.home {
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

.home .title {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home .stuff {
	margin-top: 100vh;
	margin-bottom: 10%;
	padding: 20px;
	text-align: center;
	line-height: 1.6;
}

.home .ball {
	color: var(--text-color); 
	font-size: 0.2em;
	animation: bounce 1s infinite;
	animation-timing-function: linear;
}

@keyframes bounce {
	0% { transform: translateY(-50px); }
	10% { transform: translateY(-48px); }
	20% { transform: translateY(-42px); }
	30% { transform: translateY(-32px); }
	40% { transform: translateY(-18px); }
	50% { transform: translateY(0); }
	60% { transform: translateY(-18px); }
	70% { transform: translateY(-32px); }
	80% { transform: translateY(-42px); }
	90% { transform: translateY(-48px); }
	100% { transform: translateY(-50px); }
}
