/* .home {
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
} */

.homePageHeaderHolder {
	overflow-wrap:	anywhere;
	padding-left:	20px !important;
	padding-right:	20px !important;
	/* border:			1px solid red; */
	width:			100%;
	min-height:		fit-content;
}

.homePageHeaderHolder h1 {
	text-align: center;
}



@media (max-width: 768px) {
	.homePageHeaderHolder h1 {
		font-size: 2.5em;
		justify-content: center;
        display: flex;
        flex-wrap: wrap;
	}
}

@media (min-width: 768px) {
	.homePageHeaderHolder h1 {
		font-size: 4em;
	}
}

/* 
.home .stuff {
	margin-top: 100vh;
	margin-bottom: 10%;
	padding: 20px;
	text-align: center;
	line-height: 1.6;
} */

.homePageHeaderHolder .ball {
	color: var(--text-color); 
	/* padding: 15% 10vw 10vh; */
	font-size: 0.2em;
	animation-timing-function: cubic-bezier(1, 0, 0.3, 1); /* More natural movement */

	animation: bounce 1.2s infinite;
	animation-timing-function: linear;
	bottom: 10vh;
}

@keyframes bounce {
	0% { transform: translateY(-4em); }  /* Higher bounce */
	10% { transform: translateY(-3.6em); }
	20% { transform: translateY(-3em); }
	30% { transform: translateY(-2em); }
	40% { transform: translateY(-1em); }
	50% { transform: translateY(0); }  /* Ground level */
	60% { transform: translateY(-1em); }
	70% { transform: translateY(-2em); }
	80% { transform: translateY(-3em); }
	90% { transform: translateY(-3.6em); }
	100% { transform: translateY(-4em); } /* Returns to highest bounce */
}