.page-content {
	margin: 20px;
	}
	
	.text-box {
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	max-width: 70%;
	}
	
	.text-box.left {
	margin-left: 0;
	margin-right: auto;
	}
	
	.text-box.middle {
	margin-left: auto;
	margin-right: 0;
	}
	
	.text-box h1, .text-box p {
	margin: 0;
	}
	