.login {
	display: flex;
	width: 100%;
	justify-content: space-around;
	justify-self: center;
	flex-flow: row wrap;
}

.login .login-title {
	align-self: center;
}

.login .login-box {
	align-self: flex-start;
	font-size: 18px;
	width: 60%;
	min-width: 360px;
	max-width: 600px;
	border: 1px solid var(--text-color);
	background-color: var(--fill-color);
}

.login .login-box .login-toggle {
	justify-self: center;
	display: flex;
	border: 1px solid var(--text-color);
}

.status-label {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 40px;
	cursor: pointer;
}

.status-switch {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 1px;
	padding: 5px;
	overflow: hidden;
}

.status-switch .text {
	width: 50%;
	text-align: center;
	font-size: 14px;
	z-index: 2;
	position: relative;
}

.status-switch .unchecked {
	color: var(--background);
}

.status-switch .checked {
	color: var(--text-color);
}

.status-switch .highlight {
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: var(--text-color);
	border-radius: 1px;
	transition: transform 0.3s ease;
	z-index: 1;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + .status-label .status-switch .highlight {
	transform: translateX(100%);
}

input[type="checkbox"]:checked + .status-label .status-switch .checked {
	color: var(--background);
}

input[type="checkbox"]:checked + .status-label .status-switch .unchecked {
	color: var(--text-color);
}


.login .login-box .login-field {
	width: 100%;
}

.login .login-box .login-field .login-buttons {
	justify-self: center;
	justify-content: center;
	align-content: space-around;
}

.login .login-box .login-field .login-buttons .login-button {
	justify-self: center;
	width: fit-content;
	text-align: center;
}

.field-name {
	margin: 10px 0 0;
}

.form-control {
	border-radius: 1px;
}

@media (min-width: 1280px) {
	.login {
		max-width: 1280px;
	}
}
