.play {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.play .modes {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%
}

.play .mode {
	border: 1px solid var(--text-color);
	background-color: var(--fill-color);
	min-width: 320px;
	max-width: 800px;
	width: 20%;
	margin: 16px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Ensures button stays at the bottom */
	align-items: center;
	min-height: 380px; /* Prevents shrinking */
	height: auto; /* Allows it to grow with text */
}


.play .mode h3 {
	margin-top: 8px;
	min-height: 60px; /* Ensures a base height */
	height: auto; /* Allows it to grow */
	text-align: center;
}

.play .mode p {
	font-size: 18px;
}

.play .mode .button {
	font-size: 22px;
	margin-top: auto;
	align-self: center;
}

@media (min-width: 1126px) and (max-width: 1366px) {
	.play .mode {
		min-width: 400px;
		/* height: 672px; */
    	transform: translate(104px, -42px);
    	/* width: 398px; */
	}
}

@media (min-width: 1367px){
	.play .mode {
		min-width: 440px;
	}
}

@media (min-width: 1486px){
	.play .mode {
		min-width: 440px;
	}
}

.auth-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}
  
.auth-form input {
	width: 50%;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 5px;
}
  
.auth-form button {
	width: 40%;
	padding: 5px;
	font-size: 16px;
	color: white;
	border: 1px solid #ccc;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
  
.auth-form button:hover {
	background-color: #0E0F23;
	border: 1px solid #ccc;
}

.pong-container:focus {
	outline: 2px solid #fff;
}

.play-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.play-modes-wrapper {
    display: flex;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
	justify-content: center;
	align-items: baseline;
    padding: 20px;
}

.title-container{
	display: flex;
	
	justify-content: center;
	align-items: center;
}

.page-content{
	display: flex;
	flex-direction: column;
	align-items: center;
}