.typicalPadding {
	padding-left:	20px !important;
	padding-right:	20px !important;
	text-align: center;
}

.playPageHolder {
	display:		flex;
	min-height: fit-content;
	width:			100%;
	align-items:	center;
	overflow-wrap:	anywhere;
	justify-content:	center;
	align-content:		center;
	/* border:			1px solid red; */
	/* padding-left:	20px !important;
	padding-right:	20px !important; */
}

.playPageCardWrapper {
	width:				100%;
	gap: 				4rem;
	justify-content:	center;
	padding-left:		20px;
	padding-right:		20px;
}

.playCardHolderStyle {
    border:				1px solid var(--text-color);
	border-radius:		7px;
    background-color:	var(--fill-color);
    /* min-width:		    100%;
    max-width:			550px; */
	width:			    auto;
	min-height:			380px;
	max-width:			fit-content;
	width:				100%;
    height:				auto;
    padding:   			3rem;
    display:   			flex;
    flex-direction: 	column;
    justify-content:	space-between;
    align-items:		center;
	/* margin:				40px !important; */
	color:				var(--text-color);
}

@media (max-width: 300px) {
	.playCardHolderStyle {
		border-left: none;
		border-right: none;
		border-radius: 0;
		width: 100% !important;
	}

	.playPageCardWrapper {
		padding-left: 0;
		padding-right: 0;
	}
}


.playCardHolderStyle h3 {
	font-size:		18px;
	text-align:		center;
	margin-bottom:	0;
}

.playCardDescription {
	/* border:				1px solid red; */
	text-align: 		center;
	margin-top:			2.2rem;
	margin-bottom:		1.5rem;
	/* max-width: 			400px; */
}

@media (max-width: 530px) {
	.playCardHolderStyle {
		padding-left:   2rem;
		padding-right:  2rem;
	}
}
	
@media (max-width: 320px) {
	.playCardHolderStyle {
		padding-left:   1rem;
		padding-right:  1rem;
	}
}

#currTournamentLeavePageID {
	min-height: fit-content;
}