.play {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.play .modes {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%
}

.play .mode {
	border: 1px solid var(--text-color);
	background-color: var(--fill-color);
	height: 380px;
	min-width: 320px;
	max-width: 400px;
	width: 20%;
	margin: 16px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.play .mode h3 {
	margin-top: 8px;
	height: 60px;
}

.play .mode p {
	font-size: 18px;
}

.play .mode .button {
	font-size: 22px;
	margin-top: auto;
	align-self: center;
}

@media (min-width: 1126px) and (max-width: 1366px) {
	.play .mode {
		min-width: 400px;
	}
}

@media (min-width: 1367px){
	.play .mode {
		min-width: 440px;
	}
}

@media (min-width: 1486px){
	.play .mode {
		min-width: 320px;
	}
}