/* .card {
	font-size: large;
	width: 500px !important;
	min-height: 800px;
    max-height: 120vh;
	margin: 40px !important;
	padding: 5px;
	color: var(--text-color);
	background-color: var(--card-color);
} */
/*CLASSES  =======================================================================*/
.profileCardHolder {
	display:			flex;
	flex-direction: 	row !important;
	justify-content:	center;
	flex-wrap:			wrap;
	gap:				2.5rem;
	background-color:	var(--card-color);
	padding-right:		20px !important;
	padding-left:		20px !important;
}

.profileCardStyle1 {
	color:				var(--text-color);
	border-radius:		7px;
	background-color:	var(--fill-color);
	border:				1px solid var(--text-color);
	padding:			2rem;
	display: 			flex;
	flex-direction:		column;
	width:				fit-content;
	min-width:			400px;
	max-width:			800px;
}

.profileCardStyle2 {
	color:				var(--text-color);
	border-radius:		7px;
	background-color:	var(--fill-color);
	border:				1px solid var(--text-color);
	padding:			2rem;
	display:			flex;
	flex-direction:		column;
	width:				fit-content;
	min-width:			400px;
	max-width:			550px;
}

.cards{
	display:			flex;
	justify-content:	center;
}

.profileButtonChangeNameSaveCancel {
	border:				none;
	/* width: 50%; */
	padding-left:		4rem;
	padding-right:		4rem;
	line-height:		1.5rem;
	font-size:			16px;
	font-weight:		400;
	align-items:		center;
	padding-top:		12px;
	padding-bottom:		12px;
	cursor:				pointer;
	background-color:	var(--fill-color);
	border-radius:		6px;
}

.profilepic {
	min-width:		50px;
	min-height:		50px;
	max-width:		200px;
	max-height:		200px;
    object-fit:		cover;
    border-radius:	50%; 
}

.edit-avatar-button{
	background-color:	var(--button-color);
	color:				white;
	border:				none;
	border-radius:		5px;
	cursor:				pointer;
	padding:			10px 20px;
	margin-top:			10px;
}

.write-symbol{
	display:	flex;
	transform:	scaleX(-1);
	font-size:	30px;
}

.edit-pic{
	font-size:	50px;
}

.change-display-name-input{
	width:			100%;
    padding:		9px;
    margin-bottom:	5px;
    border:			1px solid #ccc;
    border-radius:	5px;
    font-size:		1em;
}

/*IDS	==========================================================================*/
#profilePanel1Panel2Holder {
	/* border:				1px solid red; */
	display:			flex;
	justify-content:	center;
	flex-direction:		row !important;
	flex-wrap:			wrap;
	gap:				2.5rem;
	width: 				fit-content;
	height:				100%;
}

#profilePageHolder {
	overflow-wrap:	anywhere;
}

#profileStatsInfoHolder {
	width:	100% !important;
}

#profileBasicInfoInformationHolder p:nth-child(3) span p {
	/* border:				1px solid yellow; */
	margin-bottom:	0;
}

#profileBasicInfoInformationHolder p{
	/* border:				1px solid red; */
	display:			flex;
	flex-wrap:			wrap;
	gap: 				1rem;
	justify-content:	space-between;
}

#profilePenAndNameHolder {
	/* border:			1px solid red; */
	display:		flex;
	align-items:	center;
	margin-top:		-5px;
	margin-bottom:	-5px;
}

#profileEditDisplayNameButton {
	background-color:	transparent;
	color:				white;
	border:				none;
	cursor:				pointer;
}

#profileDisplayChangeName {
	display:		flex;
	flex-direction:	row;
	flex-wrap:		wrap;
	align-items:	center;
}

#profileEditDisplayNameButtonHolder {
	/* border: 	1px  solid red; */
	width:		100%;
	display: 	flex;
	flex-wrap:	wrap;
	gap:		1rem;
}


/*MEDIA  =========================================================================*/
@media (max-width: 1500px) {
	#profilePanel1Panel2Holder {
		flex-wrap:		wrap;
		width:			fit-content !important;
		width:			fit-content	!important;
		flex-direction:	column		!important;
	}
}

@media (max-width: 970px) {
	.profileCardHolder {
		flex-wrap:	wrap !important;
	}
}

@media (max-width: 960px) {
	#profilePanel1Panel2Holder {
		width:			fit-content !important;
		align-items:	center;
	}
	.profileCardStyle1 h2 {
		text-align:	center;
	}
	.profileCardStyle2:nth-child(2) h2 {
		text-align: center;
	}
}

@media (max-width:600px) {
	.profileCardStyle1 {
		width:	300px;
	}
}

@media (max-width: 468px) {
	.profileCardStyle1 {
		min-width:	100% !important;
	}
	.profileCardStyle2 {
		min-width:	100% !important;
	}
}