.auth-form {
    background-color: var(--fill-color);
    border: 1px solid var(--text-color);
    border-radius: 12px;
    padding: 2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    gap:			10px;
	width:			100%;
	text-align: 	center;
}

.auth-form h4 {
    margin-bottom: 16px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.auth-form p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 12px;
}

/* .auth-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    background-color: var(--fill-color);
    color: var(--text-color);
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
} */

.auth-form input:focus {
    border-color: var(--accent-color);
    box-shadow: 0px 0px 5px var(--accent-color);
}


/* Error message */
.text-red-500 {
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
}

/* Players list styling */
.authenticated-players {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

@media (max-width: 520px) {
    .auth-form {
        padding-left:   2rem;
        padding-right:  2rem;
    }
}

@media (max-width: 320px) {
    .auth-form {
        padding:            0;
        border:             none;
        background-color:   transparent;
        box-shadow:         none;
    }
}
