/* .tournament-setup {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tournament-setup .mode {
    flex: 1;
    max-width: 50%;
}
 */
