/* 
.play-multiplayer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.play-multiplayer .play-content {
    flex: 1;
    max-width: 50%;
} */

.playCardHolderStyle {
    border:				1px solid var(--text-color);
	border-radius:		7px;
    background-color:	var(--fill-color);
    min-width:			250px;
    max-width:			550px;
	width:			    auto;
	min-height:			380px;
    height:				auto;
    padding:   			3rem;
    display:   			flex;
    flex-direction: 	column;
    justify-content:	space-between;
    align-items:		center;
	/* margin:				40px !important; */
	color:				var(--text-color);
}

.playCardHolderStyle h3 {
	margin-bottom: 0;
}

.playCardDescription {
	/* border:				1px solid red; */
	text-align: 		center;
	margin-top:			2.2rem;
	margin-bottom:		1.5rem;
	/* max-width: 			400px; */
}