/* .tournament-setup {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tournament-setup .mode {
    flex: 1;
    max-width: 50%;
}
 */

.playButtonStyle2 {
	margin-top:			1.5rem;
    width:				100%;
    padding:			12px;
    border-radius: 		6px;
    color:              var(--text-color);
    background-color:   var(--color-5);
    border:         	none;
}

.playButtonStyle2:hover {
    background-color:	var(--text-color);
    color:				var(--color-5);
}

.playButtonStyle2:disabled {
    opacity:        0.5;
    cursor:         not-allowed;
}